
    <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="/"><img src="img/logo-nav.png" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu pull-right d-none d-lg-inline">
              <li><a href="/signup">Sign Up</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
    
          
          <nav class="nav social-nav pull-right d-none d-lg-inline">
            <a class="disabled" href="#" ><i class="fa fa-twitter" class="disabled"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
          
    
        </div>
      </header>